.animate-fade-in-up[data-v-3ad11720]{animation:fadeInUp-3ad11720 1.2s cubic-bezier(.16,1,.3,1) forwards;opacity:0;transform:translateY(40px)}@keyframes fadeInUp-3ad11720{to{opacity:1;transform:translateY(0)}}
