.animate-fade-in-up[data-v-286cddc9]{animation:fadeInUp-286cddc9 1.2s cubic-bezier(.16,1,.3,1) forwards;opacity:0;transform:translateY(40px)}@keyframes fadeInUp-286cddc9{to{opacity:1;transform:translateY(0)}}
