.animate-fade-in-up[data-v-0527354a]{animation:fadeInUp-0527354a 1.2s cubic-bezier(.16,1,.3,1) forwards;opacity:0;transform:translateY(40px)}@keyframes fadeInUp-0527354a{to{opacity:1;transform:translateY(0)}}
