.animate-fade-in-up[data-v-b99562c8]{animation:fadeInUp-b99562c8 1.2s cubic-bezier(.16,1,.3,1) forwards;opacity:0;transform:translateY(40px)}@keyframes fadeInUp-b99562c8{to{opacity:1;transform:translateY(0)}}
